.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/doc/
/Meta/
/build/
/scripts/
*.Rcheck/
*.tar.gz
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.tex
src/*.o
src/*.so
src/*.dll
src/*.dylib
src/symbols.rds
Rplots.pdf
PR_*.md
alfak_fitness_review*.md
